2captcha-python==1.1.0
aiodns==3.0.0
aiosmtpd==1.4.2
altgraph==0.17
api-display-purposes==0.0.3
appdirs==1.4.4
APScheduler==3.6.3
argcomplete==1.12.3
atomicwrites==1.4.0
atpublic==2.3
attrs==21.2.0
auto-py-to-exe==2.10.0
Automat==20.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.2
bottle==0.12.19
bottle-websocket==0.2.9
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.6
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==2.0.4
chromedriver==2.24.1
clarifai==2.6.2
click==8.0.1
colorama==0.4.4
commitizen==2.20.4
configparser==3.8.1
constantly==15.1.0
crayons==0.4.0
cryptography==3.4.8
cssselect==1.1.0
cssselect2==0.4.1
cycler==0.11.0
dateparser==1.0.0
DateTime==4.3
decli==0.5.2
decorator==5.0.9
demjson==2.2.4
demjson3==3.0.5
distlib==0.3.2
dnspython==2.1.0
docraptor==2.0.0
docx==0.2.4
EasyProcess==0.3
Eel==0.12.4
email-validator==1.1.3
emoji==1.6.1
et-xmlfile==1.1.0
facebook-scraper==0.2.49
fake-useragent==0.1.11
filelock==3.0.12
filezilla==1.2
flake8==3.9.2
fonttools==4.28.2
future==0.18.2
geographiclib==1.52
geopy==2.2.0
gevent==21.8.0
gevent-websocket==0.10.1
google-api-core==2.0.0
google-api-python-client==2.29.0
google-auth==2.0.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-search-results==2.4.0
googleapis-common-protos==1.53.0
googlemaps==4.5.3
greenlet==1.1.1
grpcio==1.41.1
h2==3.2.0
hpack==3.0.0
html2text==2020.1.16
html5lib==1.1
httplib2==0.19.1
hyperframe==5.2.0
hyperlink==21.0.0
identify==2.2.13
idna==2.8
igramscraper==0.3.2
ijson==2.6.1
importlib-metadata==4.8.1
incremental==21.3.0
iniconfig==1.1.1
insta-scrape==2.1.2
instagram-private-api==1.6.0.0
instagram-python-scraper==1.0.2
instagram-scraper==1.10.3
instaloader==4.8.1
instapy==0.6.14
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
itemadapter==0.4.0
itemloaders==1.0.4
jack==0.0.2
jedi==0.18.0
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==2.6.0
jupyter-client==6.1.12
jupyter-core==4.7.1
kiwisolver==1.3.2
linkedin-api==2.0.0a5
linkedin-scraper==2.9.0
lxml==4.6.2
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.2
mccabe==0.6.1
MeaningCloud-python==2.0.0
MechanicalSoup==1.1.0
mypy==0.902
mypy-extensions==0.4.3
nodeenv==1.6.0
numpy==1.21.2
oauthlib==3.1.1
openpyxl==3.0.7
packaging==21.3
pandas==1.3.2
parse==1.19.0
parsel==1.6.0
parso==0.8.2
pdfkit==1.0.0
pdfminer.six==20200517
pdfplumber==0.5.28
pefile==2021.5.24
pickleshare==0.7.5
Pillow==8.3.1
playwright==1.18.1
pluggy==1.0.0
plyer==2.0.0
pre-commit==2.14.0
prettytable==0.7.2
priority==1.3.0
prompt-toolkit==3.0.18
Protego==0.1.16
protobuf==3.17.3
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.1.2
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
PyDispatcher==2.0.5
pydyf==0.1.2
pyee==8.1.0
pyflakes==2.3.1
Pygments==2.9.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.2
PyJWT==1.7.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyphen==0.11.0
pyppeteer==0.0.25
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyquery==1.4.3
pyreadline==2.1
pytest==6.2.5
pytest-sugar==0.9.3
python-dateutil==2.7.5
python-qt==0.50
python-slugify==3.0.2
python-telegram-bot==13.7
pytz==2018.7
PyVirtualDisplay==2.2
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.4.1
pyzmq==22.1.0
questionary==1.10.0
queuelib==1.6.2
random-user-agent==1.0.1
regex==2021.3.17
requests==2.26.0
requests-html==0.10.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.7.2
scrape-linkedin @ git+git://github.com/ericfourrier/scrape-linkedin.git@e18d7d93abb78a65683b7fdf6d94eed0a2785ef8
Scrapy==2.0.1
selenium==3.141.0
selenium-stealth==1.0.6
semantic-version==2.8.5
service-identity==21.1.0
setuptools-rust==0.12.1
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.2.1
termcolor==1.1.0
text-unidecode==1.2
TikTokApi==4.1.0
tinycss2==1.1.1
toml==0.10.2
tomlkit==0.8.0
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
twilio==6.63.1
Twisted==21.7.0
twisted-iocpsupport==1.0.1
twitter-scraper==0.4.4
typing_extensions==4.0.1
tzdata==2021.1
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.24.3
verify-email==2.4.3
virtualenv==20.4.7
w3lib==1.22.0
Wand==0.6.7
wcwidth==0.2.5
weasyprint==53.4
webdriver-manager==3.4.2
webdriverdownloader==1.1.0.3
webdrivermanager==0.10.0
webencodings==0.5.1
websockets==10.1
whichcraft==0.6.1
wkhtmltopdf==0.2
XlsxWriter==3.0.1
xlwt==1.3.0
youtube-dl==2021.6.6
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
zopfli==0.1.9
